 ul {
    list-style: none;
    padding: 0;
    display: flex; /*placing things in one axis */
    flex-direction: row;
 }

li {
    background-color: pink;
    padding: 10 px;
    flex-grow: 1;
    margin-left: 5px;
    margin-bottom: 5px;

}

#home {
flex-grow: 3;
}