p {
  background-color: gray;
  width: 300px;
  height: 300px;  
}



/* #secondParagraph {
    position: relative;
    background-color: pink;
    top: 50px;
    left: 50px;
} 

#secondParagraph {
    position: fixed;
    background-color: pink;
    top: 0px;
    left: 0px;
}
An element with position: fixed; is positioned relative to the viewport, 
which means it always stays in the same place even if the page is scrolled. 
The top, right, bottom, and left properties are used to position the element.

#secondParagraph {
    position: sticky;
    background-color: pink;
    top: 0px;
    left: 0px;
}

#secondParagraph {
    position: absolute;
    background-color: pink;
    top: 0px;
    left: 0px;
}
An element with position: absolute; is positioned relative to the nearest positioned ancestor 
(instead of positioned relative to the viewport, like fixed).
However; if an absolute positioned element has no positioned ancestors, 
it uses the document body, and moves along with page scrolling.


*/


